# Git
.git
.gitignore

# IDEs
.idea
.vscode
*.swp
*.swo

# Frontend
frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Go
*.exe
*.test
*.out
vendor/

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# CI/CD
.github

# Logs
*.log
npm-debug.log*